##
### This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
###
## https://docs.galaxyproject.org/en/latest/admin/special_topics/ftp.html
<IfModule mod_sftp.c>
  <VirtualHost "{{ galaxy_domain }}" > 
    # You may wish to open a new port for this so that you don't lock yourself out of SSH. I chose 2222
    Port 2222 
    SFTPEngine on
    AuthOrder mod_sql.c # If you don't do this you will get weird disconnects
    SFTPHostKey /etc/ssh/ssh_host_rsa_key
    # SFTPCiphers aes256-ctr aes192-ctr aes128-ctr # You may wish to lock it to only certain ciphers, 
    # but this is likely to lock out certain users
    SFTPAuthMethods password
    RequireValidShell no
    MaxLoginAttempts 6
    ServerName                      "Galaxy SFTP"
    Umask                           066 077
    User                            galaxy
    Group                           galaxy
    UseFtpUsers off
    DefaultRoot                     ~
    AllowOverwrite                  on
    AllowStoreRestart               on
    # Allow only SFTP connections/ See also DenyAll in proftpd.conf
    <Limit LOGIN>
      AllowAll
    </Limit>
  </VirtualHost>
</IfModule>
